<div class="logo">
	<div id="c">C</div>
	<div id="cika">Cika</div>
</div>
<div class="items">
	<div routerLink="/" class="outline-none"><i class="material-icons-outlined">home</i><span>Home</span></div>
	<div routerLink="/tools" class="outline-none"><i class="material-icons-outlined">explore</i><span>Tools</span></div>
</div>

<div class="social">
	<div (click)="open('https://www.facebook.com/olahlaszlo91')"><img src="assets/images/facebook.svg"></div>
	<div (click)="open('https://www.linkedin.com/in/laszlo-olah-32880a95/')"><img src="assets/images/linkedin.svg">
	</div>
</div>
