<app-menu></app-menu>
<div class="content-wrapper" [ngClass]="{'starry-sky': starrySky}">
	<div *ngIf="starrySky" class="position-absolute">
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>
	</div>

	<span class="code" id="html-start">&lt;html&gt;</span>
	<span class="code" id="head-start">&lt;head&gt;</span>
	<span class="code" id="style">&lt;link rel="stylesheet" href="starry-sky.css" use="<span (click)="starryfy()"
	                                                                                         class="highlight cursor-pointer">{{starrySky}}</span>"&gt;</span>
	<span class="code" id="head-end">&lt;/head&gt;</span>
	<span class="code" id="body-start">&lt;body&gt;</span>
	<div class="content">

		<router-outlet></router-outlet>


	</div>
	<span class="code" id="html-end">&lt;/html&gt;</span>
	<span class="code" id="body-end">&lt;/body&gt;</span>
</div>


