// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$olahlaszlo91-primary: mat-palette($mat-indigo);
$olahlaszlo91-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$olahlaszlo91-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$olahlaszlo91-theme: mat-light-theme($olahlaszlo91-primary, $olahlaszlo91-accent, $olahlaszlo91-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($olahlaszlo91-theme);

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "assets/scss/variables";

* {
	box-sizing: border-box;
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background: $bg-primary;
	color: $color-primary;
	font-size: 16px;
}

.code {
	font-family: 'Caveat', cursive;
	font-size: 1.5rem;
	color: $color-secondary;
	position: absolute;
	opacity: .5;
	cursor: default;
	z-index: 1;
	transition: opacity 300ms;

	&:hover {
		opacity: 1;
	}
}

.highlight {
	color: $color-highlight;
	transition: 300ms;

	&:hover {
		color: $color-brand;
		opacity: 1;
	}
}

.cursor-pointer {
	cursor: pointer;
}

.outline-none {
	outline: none;
}
